<appSettings>
	<add key="MailServer" value="dev-smtp.vidly.com"/>
	<add key="FacebookAppId" value="597103795014011"/>
	<add key="FacebookAppSecret" value="f522efb2a1041198d12b4f4b08a3d309"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>